DOTNET_ENVIRONMENT=Development
ConnectionStrings__GameStoreConnection=Host=localhost;Port=5432;Database=gamestore;Username=postgres;Password=postgres
ConnectionStrings__RedisConnection=localhost:6379
